# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# exclude SAM model
**/sam_vit_h_4b8939.pth
**/sam_vit_l_0b3195.pth
**/sam_vit_b_01ec64.pth

# exclude all jpg images
**/*.jpg
**/*.jpeg
**/*.JPEG
**/*.JPG
**/*.PNG
**/*.png
**/*.xlsx

# exclude all .pt files
**/*.pt

# exclude all .npy files
**/*.npy

# exclude all jupyter notebooks
**/*.ipynb

# exclude Google API credential jsons
learned-vehicle-413021-e5e1c0fdd9a7.json
client_secret_986639034005-aet254mkkmut8fu48o6g8brvqlret5fq.apps.googleusercontent.com.json

# exclude all .csv files
**/*.csv

# exclude all .zip files
**/*.zip